@import "../../style.scss";

.select {
    position: relative;
    padding-bottom: 12px;
    text-align: left;

    label {
        color: #434C5E;
        font-size: 12px;
        font-weight: bold;
    }

    select {
        padding: 10px 8px;
        font-size: 14px;
        border: 1px solid $gray;

        &.large {
            padding: 12px 8px;
            font-size: 16px;
        }

        &:active, &:focus {
            box-shadow: none;
            border-color: $primary;
        }

        &:invalid {
            border: 1px solid $error;
            box-shadow: none;
        }
    }
}