@import "../../style.scss";

.tab {
    height: $header-height;
    width: 100%;
    background: $white;
    border-bottom: 3px solid rgba($shadow, .25);
    padding: 0px 12px 0px 32px;
    line-height: $header-height;
    position: relative;
    z-index: 700;

    &.center {
        text-align: center;
        padding: 0px 32px;
    }

    ul {
        padding: 0px;
        list-style-type: none;
    }
}