@import "../../style.scss";

@font-face {
    font-family: 'Circular';
    src: url('/assets/fonts/circularstd-book.ttf') format('truetype');
}

@font-face {
    font-family: 'Circular';
    font-weight: bold;
    src: url('/assets/fonts/circularstd-bold.ttf') format('truetype');
}

* {
    outline: none !important;
}

html, body, #app {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Circular', sans-serif !important;
    background: #F5F6F8 !important;
    color: $text;
}

a {
    color: $silver !important;
    text-decoration: underline !important;

    &:hover {
        color: $text !important;
    }
}

.bg-white { background: $white; }
.bg-silver { background: $silver; }
.bg-gray { background: $gray; }
.bg-text { background: $text; }
.bg-primary { background: $primary; }
.bg-success { background: $success; }
.bg-error { background: $error; }

.text-white { color: $white; }
.text-silver { color: $silver; }
.text-gray { color: $gray; }
.text-text { color: $text; }
.text-primary { color: $primary; }
.text-success { color: $success; }
.text-error { color: $error; }

.h-100 {
    height: 100vh;
}

.vertical-middle {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.relative {
    position: relative;
}

@keyframes placeholderShimmer {
    0%{
        background-position: -300px 0
    }
    100%{
        background-position: 300px 0
    }
}

.placeholder {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeholderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 100px;
    position: relative;
}

.loading {
    background: white;
    box-shadow: none !important;
}

.bs-tooltip-bottom .arrow::before {
    border-bottom-color: #1D2E40;
}

.tooltip-inner {
    background: #1D2E40;
    padding: 4px 8px;
    font-size: 12px;
}

.notifications-container {
    position: fixed;
    bottom: 96px;
    left: 50%;
    width: 400px;
    transform: translateX(-50%);
}

@media (max-width: 575px) {
    .hide-xs {
        display: none !important;
    }
}