@import "../../style.scss";

.photo {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 30px;
    box-sizing: content-box;

    &.large {
        height: 100px;
        width: 100px;
        border-radius: 50px;
        background: white;
        border: thin solid $gray;
        margin: 24px 0px;
    }
}

.photo-box {
    cursor: pointer;

    .photo-box-content {
        border-radius: 15px;
        text-align: center;
        font-size: 10px;
        color: white;
        height: 30px;
        width: 30px;
        line-height: 30px;
    }

    &.large {
        .photo-box-content {
            height: 100px;
            width: 100px;
            margin: 24px 0px;
            border-radius: 50px;
            font-size: 18px;
            line-height: 100px;
        }
    }
}