$white   : #ffffff;
$shadow  : #B0B9CC;
$silver  : #F5F6F8;
$gray    : #A0A9BC;
$text    : #27324B;
$primary : #1775FD;
$success : #00C624;
$warning : gold;
$error   : #E73737;

$navbar-height: 60px;
$header-height: 50px;

$sidebar-width: 300px;
$cover-width: 600px;